*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffdd44;
  z-index: -50;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  padding: 25px 50px;
  background-color: white;
  color: #777777;
  border-radius: 1000px;
  position: relative;
  transition: all 0.2s;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1000px;
    transition: all 0.4s;
    z-index: -10;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000020;

    &::before {
      transform: scaleX(1.5) scaleY(2);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #00000020;
  }
}
