*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #3b3b3b;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 140px;
  color: #86bdf520;
  position: relative;
  cursor: pointer;

  &:hover::before {
    width: 100%;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #6633dd;
    width: 0%;
    overflow: hidden;
    transition: all 0.8s;
  }
}
